/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/.vagrant
Homestead.yaml
Homestead.json
.env
/.idea/
app.css
vendor.js
vendor.js.map
/resources/assets/js/libs/
/resources/assets/css/vendor/
/public/css/vendor/
/public/css/
/public/build/
/public/js/
/public/mix-manifest.json
/public/*.js
