
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";



.navbar a {
  color: #fff;
}

.navbar-burger:hover {
  background-color:rgb(219, 219, 219);
}

.leaderboard{
  font-size: 0.85rem;
}


#breadcrumbs-container {
  margin-bottom: 0px;
}
