
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

@import "node_modules/bulma/bulma";


.navbar a {
  color: #fff;
}

.navbar-burger:hover {
  background-color:rgb(219, 219, 219);
}

.leaderboard{
  font-size: 0.85rem;
}

.leaderboard-panel-body{
  overflow-x:scroll;
}

#breadcrumbs-container {
  margin-bottom: 0px;
}